/* ************************* */
/* HEADER SECTION */
/* ************************* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* becoz we want the nav to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 2.2rem;
}

/* ************************* */
/* NAVIGATION SECTION */
/* ************************* */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* Both class should be without space */
.nav-cta.main-nav-link:link,
.nav-cta.main-nav-link:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.nav-cta.main-nav-link:hover,
.nav-cta.main-nav-link:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 1000;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 9rem;
}

/* ************************* */
/* HERO SECTION */
/* ************************* */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  /* margin: -2rem 0 0 0; */
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 3.2rem;
  align-items: center;
  margin: 0 auto;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  /* To have the 100% width of the parent element */
  width: 100%;
}

.delivered-meals {
  display: flex;

  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  /* To come top of another */
  margin-right: -1.6rem;
  /* border around pic  */
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 3.2rem;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/* ************************* */
/* FEATURED IN SECTION */
/* ************************* */
.section-featured {
  padding: 4.8rem 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* ************************* */
/* HOW IT WORKS SECTION */
/* ************************* */

.section-how {
  padding: 9.6rem 0;
  /* background-color: orangered; */
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2re;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  z-index: -1;
}
.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  background-color: #fdf2e9;
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* ************************* */
/* MEALS SECTION */
/* ************************* */

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* If we also need to make the image to apply border radius */
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  /* big element big shadows less transparent */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.section-meals {
  padding: 9.6rem 0;
  /* background-color: orangered; */
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #fdd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  /* Experiment with stroke, fill and color property */
  color: #e67e22;
}
.meal-img {
  width: 100%;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* ************************* */
/* TESTIMONIALS SECTION */
/* ************************* */

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  /* This will disappear the gaps below the images */
  align-items: center;
  margin-bottom: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/* ************************* */
/* GALLERY SECTION */
/* ************************* */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  /* To avoid overflow of image */
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/* ************************* */
/* PRICING SECTION */
/* ************************* */
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}
.pricing-plan--starter {
  /* To make a single item to come end */
  justify-self: end;
  border: 2px solid #fdf2e9;
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Best Value";
  color: #333;
  position: absolute;
  /* Use percentage to be flexible */
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43d;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  color: #333;
  margin-bottom: 1.6rem;
  font-weight: 600;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  color: #333;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #6f6f6f;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* ************************* */
/* FEATURED IN SECTION */
/* ************************* */

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 4.6rem;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ************************* */
/* CTA SECTION */
/* ************************* */

.section-cta {
  padding: 9.6em 0 12.8rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
  border-radius: 11px;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgb(230, 126, 34, 0.35)
    ),
    url("../img/eating.jpg");
  /*To cover the image to the given dimension */
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
/* á¸¥aving too many input may cause confusion. So we use decendent selectors */
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  color: inherit;
  /* To force all the elements to accept the font-family */
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}
/* ************************* */
/* FOOTER */
/* ************************* */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  align-self: end;
  /* To push the element to the end  */
  margin-top: auto;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.address {
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
